extends layout

block content
    script(src="/js/friends.js")
    //button() FUCK
    div(class="container")
        table(class="table table-striped" id="friends_table")
            thead
                tr
                    th ID
                    th ФИО
                    th Дата рождения
                    th E-Mail
                    th Фото
                    th Роль
                    th Статус

