extends layout

block content
    script(src="/js/users.js")
    //script(src="../../BABEL_SCRIPTS/friends.js")

    //button() FUCK
    div(class="container")
        table(class="table table-striped" id="users_table")
            thead
                tr
                    th ID
                    th ФИО
                    th Дата рождения
                    th E-Mail
                    th Фото
                    th Роль
                    th Статус

