doctype html
html
    head
        title title
        link(rel="stylesheet/css" type="text/css" href="/css/index.css")
        link(rel="stylesheet" href="/bootstrap/bootstrap.css")
        script(src="https://kit.fontawesome.com/a87fd4ad9d.js" crossorigin="anonymous")
        script(src="/jquery/jquery.js")

    body
        block content
        block scripts
