doctype html
html
    head
        title title
        link(rel="stylesheet" href="/css/index.css")
        script(src="/jquery/jquery.js")
        link(rel="stylesheet" href="/bootstrap/bootstrap.css")
        script(src="/bootstrap/bootstrap.js")
        script(src="https://kit.fontawesome.com/a87fd4ad9d.js" crossorigin="anonymous")


    body
        nav(class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;")
            a(class="navbar-brand" href="/" style="margin-left: 20px;") VMeste
        block content
        block scripts
